
<div class="container text-center">
<p>Voici notre tableau de gossips</p>

<div class="list-group">
  <a href="#" class="list-group-item list-group-item-action active">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1"> #{@gossip_title} </h5>
      <small>#{@gossip_author}</small>
    </div>
    <p class="mb-1">#{@gossip_content}</p>
    <small>#{@gossip_date}</small>
  </a>
</div>


