<div class="container text-center">
  <h1>Bienvenue !</h1>
</div>

<div class="container text-center">
<form action="/" method="home_post">
<input type="hidden" name="authenticity_token">
<value="<%= form_authenticity_token %>">
  <p>"Quel est ton blaze?"</p>
  <input type="text" name="first_name">
  <input type="submit" name="Envoyer">
</form>
</div>

